@charset "utf-8";
/* CSS Document */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    font-family: 'AdihausDINBold';
    src: url('../fonts/AdihausDINBold.eot');
    src: url('../fonts/AdihausDINBold.eot') format('embedded-opentype'),
         url('../fonts/AdihausDINBold.woff2') format('woff2'),
         url('../fonts/AdihausDINBold.woff') format('woff'),
         url('../fonts/AdihausDINBold.ttf') format('truetype'),
         url('../fonts/AdihausDINBold.svg#AdihausDINBold') format('svg');
}
@font-face {
    font-family: 'AdihausDINRegular';
    src: url('../fonts/AdihausDINRegular.eot');
    src: url('../fonts/AdihausDINRegular.eot') format('embedded-opentype'),
         url('../fonts/AdihausDINRegular.woff2') format('woff2'),
         url('../fonts/AdihausDINRegular.woff') format('woff'),
         url('../fonts/AdihausDINRegular.ttf') format('truetype'),
         url('../fonts/AdihausDINRegular.svg#AdihausDINRegular') format('svg');
}
@font-face {
    font-family: 'AdihausDINCn';
    src: url('../fonts/AdihausDINCn.eot');
    src: url('../fonts/AdihausDINCn.eot') format('embedded-opentype'),
         url('../fonts/AdihausDINCn.woff2') format('woff2'),
         url('../fonts/AdihausDINCn.woff') format('woff'),
         url('../fonts/AdihausDINCn.ttf') format('truetype'),
         url('../fonts/AdihausDINCn.svg#AdihausDINCn') format('svg');
}


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #000 no-repeat center center url(../images/logo.png);
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    height:100vh;
}

.loading {
    background: #000 no-repeat center center url(../images/logo.png);
    position:absolute;
    left:0;
    top:0;
    height:100vh;
    width:100vw;
    text-align:center;
    padding:15px;
    color: #FFF;
    margin: 0;
    z-index: 9999;
    padding-top: 60vh;
}

.app {
    position:absolute;
    left:0;
    top:0;
    height:100vh;
    width:100vw;
    text-align:center;
    padding:15px;
    margin: 0;
    z-index: 98;
    overflow: hidden;
}

.preapp {
    position:absolute;
    left:0;
    top:0;
    height:100vh;
    width:100vw;
    text-align:center;
    padding:15px;
    margin: 0;
    background: #000;
    z-index: 99;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    text-align: right;
    border-bottom: 1px solid #FFF;
	z-index: 3;
	height: 50px;
}

.ventana {
	z-index: 1;
	height: calc(100vh - 65px);
	background: #000;
	width: 100%;
	position: absolute;
	top: 0;
	padding-top: 50px;
	left: 100vw;
	overflow-y: auto;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}
    
.ventana.activa {
	left: 0;
}

.preapp .ventana {
	height: 100vh;
}

.boxlogin {
    padding: 15px;
    margin-top: 30px;
    position: relative;
    height: auto;
}

.btnBlancoLog {
    position: relative;
    margin: 110px auto 0;
    display: block;
    width: 260px;
    text-align: center;
    border: 0;
    background: #FFF;
    padding: 8px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

.btnBlanco {
    position: relative;
    margin: 15px auto;
    display: block;
    width: 260px;
    text-align: center;
    border: 0;
    background: #FFF;
    padding: 8px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

.inputgen {
    border: 2px solid #FFF;
    background: none;
    width: 260px;
    color: #FFF;
    font-size: 18px;
    padding: 3px 5px;
}

.inputgen.invert {
    background: #FFF;
    color: #000;
    border: 2px solid #000;
}

.btnBlanco.invert {
    background: #000;
    color: #FFF;
}

.boxrecupero {
    text-align: center;
}

textarea, select, input, button { outline: none; }

.boxlogin img {
    width: 160px;
}

.titModalRP {
	font-size: 14px;
	margin: 25px auto;
}

.titulolog {
    color: #FFF;
    font-size: 20px;
    margin: 15px auto;
}

a.btnReset {
    color: #FFF;
    width: 260px;
	text-align: right;
    display: block;
    text-decoration: none;
    margin: 0 auto;
}

.modal-header.titulomodal {
    color: #FFF;
    background: #000;
	border-radius: 6px 6px 0 0;
}

.modal-content {
    border: 1px solid #FFF;
}

button.btn.btn-default {
    color: #FFF;
    background: #000;
    border: 0;
}

button.close {
    opacity: 1;
    color: #FFF;
    text-shadow: none;
}

.footer {
	z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #FFF;
    padding: 10px 0;
    left: 0;
    height: 65px;
}

button.botonfoo {
    width: 20%;
    padding: 0 15px;
    margin: 0 -2px 0;
    border: 0;
    background: none;
}

.botonfoo img {
    width: 100%;
}

.fondohome {
    background: #000 no-repeat center center url(../images/imagen1.jpg);
    background-size: cover;
}

.titHome {
    font-family: 'AdihausDINRegular';
    font-size: 22px;
    line-height: 24px;
    color: #FFF;
    text-align: left;
}

.titHome2 {
    font-family: 'AdihausDINBold';
    font-size: 20px;
    color: #FFF;
    text-align: left;
}

.titHome3 {
    font-family: 'AdihausDINBold';
	font-size: 35px;
    color: #FFF;
    text-align: left;
}

.boxinicio {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    text-align: left;
}

.fondosc {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
	background: rgba(0,0,0,0.6);
}

.fondosc2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
	background: rgba(0,0,0,0.8);
}

.marcofoto {
	margin: 20px auto;
	border-radius: 50%;
	border: 3px solid #FFF;
	width: 90px;
}
